<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-item-group>
  <ion-item-divider>
    <ion-label>Ionic Component</ion-label>
  </ion-item-divider>
  <ion-item routerLink="/pages/ionic/action-sheet">
    <ion-label>Action Sheet</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/alert">
    <ion-label>Alert</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/badge">
    <ion-label>Badge</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/button">
    <ion-label>Button</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/card">
    <ion-label>Card</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/checkbox">
    <ion-label>Checkbox</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/chip">
    <ion-label>Chip</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/content">
    <ion-label>Content</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/pickers">
    <ion-label>Pickers</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/fab">
    <ion-label>Fab</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/grid">
    <ion-label>Grid</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/infinite-scroll">
    <ion-label>Infinite Scroll</ion-label>
  </ion-item>
</ion-item-group>
</ion-content>
