
  <ion-header [translucent]="true" id="main">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="openMenu()">
          <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        Ionic
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-item-group>
  <ion-item-divider>
    <ion-label>Ionic Component</ion-label>
  </ion-item-divider>
  <ion-item routerLink="/pages/ionic/action-sheet">
    <ion-label>Action Sheet</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/alert">
    <ion-label>Alert</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/badge">
    <ion-label>Badge</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/button">
    <ion-label>Button</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/card">
    <ion-label>Card</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/checkbox">
    <ion-label>Checkbox</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/chip">
    <ion-label>Chip</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/content">
    <ion-label>Content</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/pickers">
    <ion-label>Pickers</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/fab">
    <ion-label>Fab</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/grid">
    <ion-label>Grid</ion-label>
  </ion-item>
  <ion-item routerLink="/pages/ionic/infinite-scroll">
    <ion-label>Infinite Scroll</ion-label>
  </ion-item>
</ion-item-group>
</ion-content>

<ion-menu side="start" menuId="menu" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-list-header>System</ion-list-header>
      <ion-item>
        <ion-label>Dark Theme</ion-label>
        <ion-toggle (ionChange)="changeTheme($event)"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
