.banner{
  width: 100%;
  background-size: contain;
  background: url("/assets/images/other/bg_profile_01.png") no-repeat top;
  .imgContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    .profilePhoto{
      width: 72px;
      height: 72px;
      border-radius: 50%;
      border: 1px solid var(--ion-color-light);
    }
  }
  .level{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed var(--ion-color-dark-tint);
    .bar{
      flex: 0.8;
      display: flex;
      align-items: center;
    }
  }
  .nextLevel{
    display: flex;
    justify-content: space-between;
  }
}

ion-content{
  .summary{
    display: flex;
    justify-content: space-between;
    background: var(--ion-item-background);
  }
}
