<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="logo-ionic"></ion-icon>
      <ion-label>Ionic</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="logo-angular"></ion-icon>
      <ion-label>Angular</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="logo-android"></ion-icon>
      <ion-label>Native</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="logo-html5"></ion-icon>
      <ion-label>Web</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="logo-github"></ion-icon>
      <ion-label>Other</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
