<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>充值</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>充值</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-xl="6">
      <ion-card>
        <div class="container">
          <img src="../../../assets/images/other/bg_recharge_01.png" alt="card">
          <ion-button expand="block" color="primary">数字货币充值</ion-button>
        </div>
        <ion-card-content>
          <div class="ion-text-center">
            使用数字货币钱包进行转账
            单笔支付范围为：无限额
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-xl="6">
      <ion-card>
        <div class="container">
          <img src="../../../assets/images/other/bg_recharge_02.png" alt="card">
          <ion-button expand="block" color="secondary">C2C交易</ion-button>
        </div>
        <ion-card-content>
          <div class="ion-text-center">
            点对点购买USDT,单笔支付范围为：$100 ~ $50,000
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
